body {
	font-family: 'Lato', sans-serif;
	background-color: #E0E0E0;
}

#container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	padding: 10px;
}

h1, h3, h5, form {
	text-align: center;
}

#logo_title {
	color: #216C2A;
}

#wage {
	border-radius: 0;
	padding-bottom: 6px;
}

#save_wage {
	background-color: #216C2A;
}

#examples {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.replacement_example {
	background-color: #B1D0B5;
	padding: 5px;
}

#footer {
	width: 100%;
	margin: 25px 0;
	border-top: 1px solid #ddd;
}

#footer a {
	color: #216C2A;
	text-decoration: none;
}