body {
	font-family: 'Lato', sans-serif;
	background-color: #E0E0E0;
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	padding: 20px 10px 0px 10px;
	min-height: 100%;
	position: relative;
}

#content {
	padding-bottom: 50px;
}

h1, h3, h5, form {
	text-align: center;
}

#header {
	border-bottom: 1px solid #e0e0e0;
	background-image: url("images/header.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100px;
	padding-bottom: 20px;
}

#bod {
	padding: 0px 50px;
}

#logo-title {
	color: #216C2A;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0;
}

#tagline {
	margin-top: 0;
	margin-bottom: 30px;
}

#options-form {
	margin-top: 20px;
}

#wage, #salary {
	border-radius: 0;
	padding-bottom: 6px;
}

#save-wage, #save-salary, #save-expense {
	background-color: #216C2A;
}

#user-guide {
	width: 500px;
	padding: 13px;
	margin-left: auto;
	margin-right: auto;
	background-color: #B1D0B5;
	margin-top: 20px;
}

#footer {
	width: 100%;
	border-top: 1px solid #ddd;
	height: 75px;
}
 
a {
	color: #216C2A;
	text-decoration: none;
}

#options-form label {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}

#alerts {
	color: #203D6C;
	background-color: #e0e0e0;
	text-align: center;
	padding: 1px;
	display: none;
	margin-bottom: 15px;
}

#adv-options-form, #expenses-form {
	width: 420px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#adv-options-form input {
	margin-right: 10px;
	margin-bottom: 5px;
}

.expense-text {
	width: 100px;
}

#expense-cost {
	margin-right: 10px;
}

#expense-name {
	margin-left: 10px;
	margin-right: 10px;
}

#expense-frequency {
	height: 29px;
	margin-right: 15px;
}

#current-expenses {
	margin-bottom: 15px;
}

#expenses-header {
	color: #216C2A;
}

.recurring-expense {
	margin-bottom: 5px;
}

#total-expenses {
	color: #d40000;
}

.reccurring-expense-delete {
	float: right;
	margin-left: 10px;
}

.reccurring-expense-delete a {
	color: #B1D0B5;
}

.reccurring-expense-frequency {
	color: #505050;
}

#donate-block {
	text-align: center;
}

#donate-button-wrapper {
	margin-bottom: 5px;
}

#wallet-qr {
	width: 48px;
}

#wallet-address {
	display: none;
}