body {
	font-family: 'Lato', sans-serif;
	background-color: #E0E0E0;
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	padding: 20px 10px 10px 10px;
	min-height: 100%;
	position: relative;
}

#content {
	padding-bottom: 80px;
}

h1, h3, h5, form {
	text-align: center;
}

#header {
	border-bottom: 1px solid #e0e0e0;
	background-image: url("images/header.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100px;
	padding-bottom: 20px;
}

#bod {
	padding: 0px 50px;
}

#logo_title {
	color: #216C2A;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0;
}

#tagline {
	margin-top: 0;
	margin-bottom: 30px;
}

#options_form {
	margin-top: 20px;
}

#wage, #salary {
	border-radius: 0;
	padding-bottom: 6px;
}

#save_wage, #save_salary {
	background-color: #216C2A;
}

#user_guide {
	width: 500px;
	padding: 13px;
	margin-left: auto;
	margin-right: auto;
	background-color: #B1D0B5;
	margin-top: 20px;
}

#user_guide span {
	text-transform: 
}

#footer {
	width: 100%;
	margin: 25px 0;
	border-top: 1px solid #ddd;
	height: 87px;
	position: absolute;
	bottom: 0;
	left: 0;
}
 
a {
	color: #216C2A;
	text-decoration: none;
}

#options_form label {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}

#alerts {
	color: #203D6C;
	background-color: #e0e0e0;
	text-align: center;
	padding: 1px;
	display: none;
	margin-bottom: 15px;
}

#adv_options_form {
	width: 420px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#adv_options_form input {
	margin-right: 10px;
	margin-bottom: 5px;
}

#expenses {
	text-align: center;
}

.expense_text {
	width: 100px;
}

#expense_name {
	margin-left: 10px;
}

#expense_frequency {
	height: 29px;
}






