body {
  padding: 10px;
}

#ext-desc {
  margin-top: 0;
  margin-bottom: 0;
}

#ext-instructions {
  margin-top: 0;
}

#master-tooltip {
  margin-bottom: 5px;
  font-weight: 200;
  min-height: 20px;
}

#amount, #currency-code, #currency-symbol {
  padding-bottom: 2px;
}

#currency-code {
  width: 50px;
}

#currency-symbol {
  width: 25px;
}

#save {
  float: right;
  font-weight: 500;
}

#togglr-wrapper {
  margin-top: 15px;
  margin-bottom: 5px;
}

#togglr {
  text-decoration: none;
}

#formatting {
  margin-top: 20px;
}

#formatting h4 {
  margin-bottom: 0;
  margin-top: 20px;
}

.advanced-option {
  display: inline-block;
  width: 49%;
}

.advanced-option p {
  margin-bottom: 5px;
  margin-top: 5px;
}

#status {
  margin-top: 15px;
  min-height: 15px;
  font-weight: 200;
}
